//Tang_MEGA_138_Dock
//GW5AST-LV138PBGA484C1/I0
//GW5AST-138
//B

IO_LOC "CLK"    V22;        //EMC_CLK
IO_LOC "RSTN"   K13;        //S3


//FPGA_KEY
IO_LOC "key_fpga"    AA13; 

//FPGA_LED
IO_LOC "led_fpga"    AB10; 

//SPI
IO_LOC "SPI_CLK"    U16; 
IO_LOC "SPI_CSN"    W16; 
IO_LOC "SPI_MISO"    U17; 
IO_LOC "SPI_MOSI"    U18; 

//I2C
IO_LOC "I2C_SCL"    T15; 
IO_LOC "I2C_SDA"    T16; 

//TFT
IO_LOC "TFT_CLK"    V17; 
IO_LOC "TFT_CSN"    W17; 
IO_LOC "TFT_MISO"    Y18; 
IO_LOC "TFT_MOSI"    Y19; 
IO_LOC "TFT_RES"    V14; 
IO_LOC "TFT_DC"    U15; 
IO_LOC "TFT_BLK"    W14; 

//LED
IO_LOC "LED[0]" W12;        //LED1
IO_LOC "LED[1]" AA9;        //LED2
IO_LOC "LED[2]" AA10;        //LED3

//KEY
IO_LOC "KEY[0]" R14;        //S1
IO_LOC "KEY[1]" P14;        //S2
IO_LOC "KEY[2]" K14;        //S3

//UART2
IO_LOC "UART2_TXD" R16;     //35
IO_LOC "UART2_RXD" P15;     //36

//JTAG
IO_LOC "TDO_OUT" V20;
IO_LOC "TDI_IN" M17;
//IO_LOC "TRST_IN" M16;
IO_LOC "TMS_IN" P17;
IO_LOC "TCK_IN" U20;


//SPI-Flash Memory
IO_LOC "FLASH_SPI_CSN"    T19;
IO_LOC "FLASH_SPI_CLK"    L12;
IO_LOC "FLASH_SPI_MOSI"   P22;    //DO[0] DI
IO_LOC "FLASH_SPI_MISO"   R22;    //DO[1] DO
IO_LOC "FLASH_SPI_WPN"    P21;    //DO[2]
IO_LOC "FLASH_SPI_HOLDN"  R21;    //DO[3]

//DDR3 Memory
IO_LOC "DDR3_INIT"     Y11;	      //LED5

IO_LOC "DDR3_CK"       L3,K3;
IO_LOC "DDR3_RESET_N"  L6;
IO_LOC "DDR3_ODT"      M2; 
IO_LOC "DDR3_CAS_N"	   L4;
IO_LOC "DDR3_WE_N"	   M5;
IO_LOC "DDR3_CKE"	   K6;
IO_LOC "DDR3_RAS_N"	   L5;

IO_LOC "DDR3_DM[1]" V7;
IO_LOC "DDR3_DM[0]" AA4;

IO_LOC "DDR3_DQS[1]" V9,V8;
IO_LOC "DDR3_DQS[0]" Y3,AA3;

IO_LOC "DDR3_BANK[2]" M6;
IO_LOC "DDR3_BANK[1]" P2;
IO_LOC "DDR3_BANK[0]" P5;

IO_LOC "DDR3_ADDR[13]" K1;
IO_LOC "DDR3_ADDR[12]" K4;
IO_LOC "DDR3_ADDR[11]" H3;
IO_LOC "DDR3_ADDR[10]" L1;
IO_LOC "DDR3_ADDR[9]" H5;
IO_LOC "DDR3_ADDR[8]" J5;
IO_LOC "DDR3_ADDR[7]" J1;
IO_LOC "DDR3_ADDR[6]" G3;
IO_LOC "DDR3_ADDR[5]" H2;
IO_LOC "DDR3_ADDR[4]" J2;
IO_LOC "DDR3_ADDR[3]" J4;
IO_LOC "DDR3_ADDR[2]" G2;
IO_LOC "DDR3_ADDR[1]" K2;
IO_LOC "DDR3_ADDR[0]" M1;

IO_LOC "DDR3_DQ[15]" Y9;
IO_LOC "DDR3_DQ[14]" AB6;
IO_LOC "DDR3_DQ[13]" W9;
IO_LOC "DDR3_DQ[12]" AB8;
IO_LOC "DDR3_DQ[11]" Y7;
IO_LOC "DDR3_DQ[10]" AB7;
IO_LOC "DDR3_DQ[9]" Y8;
IO_LOC "DDR3_DQ[8]" AA8;
IO_LOC "DDR3_DQ[7]" AB1;
IO_LOC "DDR3_DQ[6]" AB5;
IO_LOC "DDR3_DQ[5]" AB2;
IO_LOC "DDR3_DQ[4]" AA1;
IO_LOC "DDR3_DQ[3]" V4;
IO_LOC "DDR3_DQ[2]" AA5;
IO_LOC "DDR3_DQ[1]" AB3;
IO_LOC "DDR3_DQ[0]" Y4;

IO_LOC "DDR3_CS_N"     P4;

IO_PORT "DDR3_INIT"      PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "DDR3_WE_N"      IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_CAS_N"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_CKE"       IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_RAS_N"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ODT"       IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_RESET_N"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_CK"        IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DM[0]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DM[1]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQS[0]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQS[1]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_BANK[0]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_BANK[1]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_BANK[2]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[0]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[1]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[2]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[3]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[4]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[5]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[6]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[7]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[8]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[9]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[10]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[11]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[12]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_ADDR[13]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[0]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[1]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[2]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[3]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[4]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[5]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[6]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[7]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[8]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[9]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[10]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[11]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[12]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[13]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[14]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_DQ[15]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "DDR3_CS_N"      IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_ddr3_top/u_ddr3_memory_ahb_top/u_ddr3/gw3_top/u_ddr_phy_top/u_dll" DDRDLLM_BL;
INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_ddr3_top/u_ddr3_memory_ahb_top/u_ddr3/gw3_top/u_ddr_phy_top/fclkdiv" LEFTSIDE[4];
SET_PARAM "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_ddr3_top/u_ddr3_memory_ahb_top/u_ddr3/gw3_top/u_ddr_phy_top/u_dll" CLKIN_SEL=CLKIN5;
INS_LOC "u_Gowin_PLL_DDR3/PLL_inst" PLL_L[0]

INS_LOC "u_Gowin_PLL_AE350/PLL_inst" PLL_R[0]